@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nav {
  padding-bottom: 40px;
  position: relative;
  display: block;
  padding-top: 16px;
}
.nav::after {
  content: "";
  position: absolute;
  background: rgba(173, 170, 170, 0.15);
  width: 100%;
  height: 1px;
  top: 100px;
  left: 0;
}
.nav--list {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav--list {
    display: flex;
    gap: 15px;
  }
}
.nav--link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.nav-logo-image {
  width: 100%;
  height: 31px;
}
.nav-menu {
  color: #fff;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: none;
  }
}
.nav .chevron-right {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav .chevron-right {
    display: block;
  }
}
.nav .cart-menu {
  display: block;
}
@media screen and (mmin-width: 768px) {
  .nav .cart-menu {
    display: none;
  }
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/Hero-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}

.main-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
}
.main-list-wrapper .header-column-1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main-list-wrapper .cart-menu, .main-list-wrapper .chevron-right, .main-list-wrapper .hidden, .main-list-wrapper .cart-menu {
  color: #fff;
  font-size: 30px;
}
.main-list-wrapper .chevron-right {
  background-color: #fdda4c;
  color: #000;
}
.main-list-wrapper .hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-list-wrapper .hidden {
    display: block;
  }
}
.main-list-wrapper .search {
  display: none;
  padding: 4px 31px 7px 6px;
}
@media screen and (min-width: 1024px) {
  .main-list-wrapper .search {
    display: block;
  }
}

.header-container {
  position: relative;
  height: 100%;
}

.hero-text-content-wrapper {
  position: absolute;
  top: 60%;
  left: 46%;
  transform: translate(-50%, -50%);
}

.hero-first-text {
  font-size: 12px;
  color: #fff;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero-second-text {
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-size: 38px;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 500px) {
  .hero-second-text {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .hero-second-text {
    font-size: 70px;
  }
}
@media screen and (min-width: 1366px) {
  .hero-second-text {
    font-size: 56px;
    max-width: 800px;
  }
}

.hero-btn {
  top: 55%;
  left: 10%;
  font-size: 13px;
  padding: 15px 25px;
  font-family: 600;
  background-color: #fdda4c;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: end;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  background-color: #00d084;
  cursor: pointer;
}

.chairs {
  padding-top: 40px;
  padding-bottom: 40px;
}
.chairs .chair-container {
  max-width: 1218px;
}
@media screen and (min-width: 500px) {
  .chairs .chair-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.chairs .chair-title {
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 10px;
  font-family: "Lexend", sans-serif;
  display: inline-block;
  position: relative;
  left: 22px;
  top: -41px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.chairs .chair-link {
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 20px;
  color: rgb(38, 34, 47);
}
@media screen and (min-width: 768px) {
  .chairs .chair-link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .chairs .chair-link {
    font-size: 24px;
  }
}
.chairs .chair-link:hover::after {
  content: "";
  position: absolute;
  background: rgb(38, 34, 47);
  width: 85px;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 2s;
}

.footer {
  background-color: rgb(236, 229, 229);
}
.footer-column-wrap {
  padding: 22px;
  display: grid;
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .footer-column-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: baseline;
    gap: 28px;
  }
}
@media screen and (min-width: 768px) {
  .footer-column-wrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.footer-column {
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-column {
    text-align: left;
  }
}
.footer-column-title {
  font-size: 23px;
  color: rgb(38, 34, 47);
  font-family: "Lexend", sans-serif;
  margin-bottom: 20px;
}
.footer-link {
  text-decoration: none;
  color: rgb(139, 134, 152);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 1.4;
}
.footer-link:hover {
  color: #000;
  transition: all 0.9s;
}
.footer-copyright {
  text-align: center;
  color: rgb(139, 134, 152);
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.footer .footer-list.footer-icon-list {
  margin-top: 37px;
}
.footer-item i {
  font-size: 18px;
}
.footer-img {
  width: 240px;
}
.footer-item {
  margin-bottom: 10px;
}

.appliances {
  padding-bottom: 50px;
}
.appliances .appliance-list {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  position: relative;
  display: block;
}
.appliances .appliance-list::after {
  content: "";
  position: absolute;
  background: #ecf0ed;
  width: 100%;
  height: 1px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 995px;
  margin-top: 30px;
}
@media screen and (min-width: 500px) {
  .appliances .appliance-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media screen and (min-width: 1024px) {
  .appliances .appliance-list {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  }
}
.appliances .appliance-item {
  margin-bottom: 25px;
}
.appliances .appliance-title {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}
.appliances .appliance-icon {
  font-size: 50px;
}

.arrivals .arrival-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .arrivals .arrival-item-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.arrivals .arrival-item {
  margin-bottom: 60px;
}
.arrivals .arrival-img {
  margin-bottom: 16px;
}
.arrivals .arrival-title {
  font-family: "Lexend", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
  margin-top: 26px;
}
@media screen and (min-width: 1024px) {
  .arrivals .arrival-title {
    font-size: 15px;
  }
}
.arrivals .arrival-sub-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Lexend", sans-serif;
  position: relative;
  display: block;
}
.arrivals .arrival-sub-title::after {
  content: "";
  position: absolute;
  background: #23EF3F;
  width: 100%;
  height: 2px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 50px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .arrivals .arrival-sub-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .arrivals .arrival-sub-title {
    font-size: 40px;
  }
}
.arrivals .arrival-img-title {
  font-family: 600;
  font-size: 14px;
}
.arrivals .arrival-prize {
  font-size: 14px;
  color: rgb(139, 134, 152);
  font-family: 400;
  margin: 10px auto;
}
.arrivals .arrival-viewall-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fdda4c;
  border: none;
}
.arrivals .arrival-viewall-link {
  text-decoration: none;
  font-size: 14px;
  font-family: 600;
  color: rgb(38, 34, 47);
}

/* Parent Container */
.content-img {
  position: relative;
}

.content-img .hover-text {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000000;
  color: white;
  margin-bottom: 15px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.7s linear;
}

.content-img:hover {
  cursor: pointer;
}

.content-img:hover .hover-text {
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
  text-align: center;
  text-decoration: none;
  background: #2b2424;
  font-size: 14px;
  font-family: 400;
}
@media screen and (min-width: 768px) {
  .content-img:hover .hover-text {
    font-size: 15px;
  }
}

.services {
  background: #f9f9fa;
  position: relative;
  display: block;
}
.services::after {
  content: "";
  position: absolute;
  background: #23EF3F;
  width: 90%;
  height: 1px;
  top: -17px;
  left: 50%;
  transform: translate(-50%, 50%);
  margin-top: 15px;
}
.services .service-wrapper {
  padding: 20px 0;
}
@media screen and (min-width: 500px) {
  .services .service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .services .service-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.services .service-1 {
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 760px) {
  .services .service-1 {
    display: flex;
    gap: 15px;
  }
}
.services .service-title {
  font-size: 14px;
  font-family: "Lexend", sans-serif;
}
@media screen and (min-width: 768px) {
  .services .service-title {
    font-size: 18px;
  }
}
.services i {
  color: #23EF3F;
  font-size: 18px;
  margin-bottom: 10px;
}

.collections {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Lexend", sans-serif;
}
.collections .collection-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .collections .collection-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024x) {
  .collections .collection-title {
    font-size: 40px;
  }
}
.collections .collection-description-text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}
.collections .collection-item-wrapper {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .collections .collection-item-wrapper {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.collections .collection-item {
  padding-bottom: 37px;
}
.collections .collection-img {
  margin-bottom: 18px;
}

.offices {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/office-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  min-height: 300px;
  position: relative;
  display: block;
}

.office-hero {
  position: relative;
  display: block;
}
.office-hero::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  top: 160px;
  left: 0;
}

.offices-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/office-2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 70vh;
  min-height: 300px;
}

.office-column {
  padding-top: 185px;
  top: 25%;
}
@media screen and (min-width: 768px) {
  .office-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.office-btn {
  padding: 11px 27px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.office-btn:hover {
  background: #ffffff;
  color: #000000;
  transition: all 0.7s;
}

.office-first-text {
  color: #fff;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .office-first-text {
    font-size: 17px;
  }
}

.office-second-text {
  color: #fff;
  font-size: 30px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .office-second-text {
    font-size: 32px;
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .office-second-text {
    font-size: 40px;
  }
}

.works {
  padding-top: 50px;
  padding-bottom: 50px;
}
.works .work-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Lexend", sans-serif;
  color: rgb(139, 134, 152);
}
@media screen and (min-width: 1024px) {
  .works .work-title {
    font-size: 15px;
  }
}
.works .work-column-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .works .work-column-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .works .work-column-img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
.works .work-column-title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .works .work-column-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .works .work-column-title {
    font-size: 40px;
  }
}
.works .work-column-description {
  color: rgb(139, 134, 152);
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .works .work-column-description {
    font-size: 16px;
    width: 100%;
    max-width: 521px;
  }
}
.works .work-inner-column-img {
  margin-bottom: 45px;
}
.works .work-img {
  margin-bottom: 10px;
}
.works .work-img-title {
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 10px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .works .work-img-title {
    font-size: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .works .work-img-title {
    font-size: 25px;
  }
}
.works .work-img-link {
  font-size: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(38, 34, 47);
  text-decoration: none;
  border-bottom: 1px solid cyan;
  width: 100%;
  max-width: 110px;
}
.works .work-img-link:hover {
  border-bottom: 1px solid rgb(9, 36, 36);
  width: 100%;
  max-width: 110px;
  transition: all 0.7s;
}

.spaces {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/space-cta.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  min-height: 470px;
}
.spaces .space-container {
  height: 100%;
  position: relative;
}
.spaces .space-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .spaces .space-text-wrapper {
    max-width: 803px;
  }
}
.spaces .space-first-title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Lexend", sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 1024) {
  .spaces .space-first-title {
    font-size: 16px;
  }
}
.spaces .space-second-title {
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .spaces .space-second-title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1366px) {
  .spaces .space-second-title {
    font-size: 73px;
  }
}
.spaces .space-btn {
  padding: 12px 24px;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  background: #fdda4c;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 30px;
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/about-hero-img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  min-height: 300px;
}
.about .hero-banner-main-wrapper {
  position: absolute;
  top: 65%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.about .hero-banner-title-wrapper {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .about .hero-banner-title-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
}
.about .hero-banner-title {
  font-size: 36px;
  color: #fff;
  font-family: "Lexend", sans-serif;
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .about .hero-banner-title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .about .hero-banner-title {
    font-size: 53px;
  }
}
.about .about-description {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
.about .hero-banner-border {
  position: relative;
  display: block;
}
.about .hero-banner-border::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  top: 13px;
  left: 0;
  width: 30%;
  height: 1px;
  min-width: 87px;
}
@media screen and (min-width: 768px) {
  .about .hero-banner-text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
}

.stories {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .stories .story-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
}
.stories .story-column {
  padding-bottom: 30px;
}
.stories .story-header-title {
  font-size: 12px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .stories .story-header-title {
    font-size: 14px;
  }
}
.stories .story-column-title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
.stories .story-column-title::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  width: 10%;
  height: 2px;
  top: 100px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .stories .story-column-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .stories .story-column-title {
    font-size: 40px;
  }
}
.stories .story-column-description {
  font-size: 14px;
  color: rgb(139, 134, 152);
  margin-bottom: 30px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .stories .story-column-description {
    font-size: 16px;
  }
}
.stories .story-img-container {
  background-image: url("/images/about-img-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  min-height: 354px;
  width: 100%;
}
.stories .story-img-container {
  position: relative;
}
.stories .play-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stories .fa-circle-play {
  font-size: 90px;
  color: #fdda4c;
  cursor: pointer;
}

.perfects {
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .perfects .perfect-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 66px;
  }
}
.perfects .perfect-column {
  margin-bottom: 35px;
}
.perfects i {
  color: #fdda4c;
}
.perfects .perfect-title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}
@media screen and (min-width: 768px) {
  .perfects .perfect-title {
    font-size: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .perfects .perfect-title {
    font-size: 20px;
  }
}
.perfects .perfect-text {
  font-size: 15px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
}

.founders {
  padding-top: 70px;
  padding-bottom: 70px;
}
.founders .founders-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  max-width: 600px;
}
.founders .founder-qoutes {
  margin-top: 10px;
  font-size: 19px;
  color: rgb(139, 134, 152);
}
@media screen and (min-width: 768px) {
  .founders .founder-qoutes {
    font-size: 23px;
  }
}
@media screen and (min-width: 1366px) {
  .founders .founder-qoutes {
    font-size: 26px;
  }
}
.founders i {
  color: #fdda4c;
  font-size: 25px;
}
.founders .founder-detail-wrapper {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .founders .founder-detail-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
.founders .img-founder {
  height: 60px;
}

.imgs .img-inner-wrapper {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .imgs .img-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .imgs .img-wrapper-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
  }
}
.imgs .img-group-item {
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  padding-bottom: 50px;
  padding-top: 50px;
}
.form .form-column-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .form .form-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
  }
}
.form .form-column {
  margin-bottom: 40px;
}
.form .form-title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form .form-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .form .form-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .form .form-inner-column {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .form .form-contact-title-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 65px;
  }
}
.form .form-header-title-border {
  position: absolute;
  display: block;
}
@media screen and (max-width: 768px) {
  .form .form-header-title-border {
    display: none;
  }
}
.form .form-header-title-border::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  top: 0;
  left: 0;
  width: 62px;
  height: 1px;
}
.form .form-inner-title {
  font-size: 12px;
  font-family: "Lexend", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
  display: block;
}
@media screen and (min-width: 768px) {
  .form .form-inner-title {
    min-width: 390px;
  }
}
.form .form-inner-title::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  top: 60px;
  left: 0;
  width: 100%;
  height: 1px;
  min-width: 88px;
}
.form .form-list {
  position: relative;
  display: block;
}
.form .form-list::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  top: 80px;
  left: 0;
  width: 11%;
  height: 2px;
}
@media screen and (min-width: 768px) {
  .form .form-list::after {
    display: none;
  }
}
.form .form-text {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: rgb(139, 134, 152);
  margin-bottom: 50px;
}
.form .form-service-title {
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.form .form-service-text {
  font-size: 12px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
  margin-bottom: 14px;
}
.form i {
  color: #fdda4c;
}
.form .form-list-inner {
  display: flex;
  gap: 15px;
}
.form .form-label-input {
  font-family: "Lexend", sans-serif;
  font-size: 14px;
  color: rgb(139, 134, 152);
}
.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  outline-color: rgb(102, 102, 102);
}
.form textarea {
  width: 100%;
  padding: 0 30px 112px 0;
}
.form .form-btn {
  margin-top: 15px;
  padding: 10px 31px;
  background-color: #fdda4c;
  border: none;
  font-family: "Lexend", sans-serif;
  font-size: 13px;
}
.form .form-btn:hover {
  background-color: aquamarine;
  transition: all 0.9s;
}

.maps iframe {
  width: 100%;
}

.hidden-mobile {
  display: none;
}

.nav-store-link {
  color: rgb(139, 134, 152);
  text-decoration: none;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.nav-store-icon {
  color: #000;
  font-size: 30px;
}

.shops {
  padding-bottom: 50px;
  padding-top: 50px;
}
.shops .shop-header-title {
  font-size: 12px;
  font-family: "Lexend", sans-serif;
  color: rgb(139, 134, 152);
  text-decoration: none;
}
.shops .shop-header-sub-title {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  color: rgb(139, 134, 152);
}
@media screen and (min-width: 768px) {
  .shops .shop-header-sub-title {
    font-size: 65px;
  }
}

.shop-header-sub-title-wrap {
  padding-top: 40px;
}

.filters {
  padding-top: 40px;
  display: none;
}
@media screen and (min-width: 768px) {
  .filters {
    display: block;
  }
}
.filters .filter-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters .filter-inner-wrap {
  display: flex;
  gap: 15px;
  align-items: center;
}

.filter-chevron-down {
  font-size: 7px;
}

.image-filters {
  padding-top: 10px;
  padding-bottom: 100px;
}
.image-filters .image-filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .image-filters .image-filter-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.image-filters .image-filter-column {
  margin-bottom: 20px;
}
.image-filters .image-filter-img {
  margin-bottom: 8px;
}
.image-filters .image-filter-title {
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}
.image-filters .image-filter-price {
  margin-bottom: 8px;
}
.image-filters .image-filter-price {
  font-size: 12px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.image-filters .arrival-icon {
  color: rgb(139, 134, 152);
  font-size: 12px;
}
.image-filters .imgage-filter-next-previous-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image-filters .image-filter-number {
  border: 1px solid gray;
  padding: 5px 11px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
}
hei .image-filters .image-filter-number:hover {
  background-color: grey;
  transition: all 0.9s;
  color: #000;
  cursor: pointer;
}
.image-filters .fa-arrow-right-long {
  border: 1px solid gray;
  padding: 6px 11px;
  color: rgb(139, 134, 152);
}
.image-filters .fa-arrow-right-long:hover {
  background-color: grey;
  transition: all 0.9s;
  color: #000;
  cursor: pointer;
}

.officepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/officepagefurniture-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  min-height: 350px;
}
.officepage .office-hero-wrapper {
  padding-top: 40px;
}
.officepage .officehero-title {
  color: #fff;
  font-size: 27px;
  text-align: center;
  font-family: "Lexend", sans-serif;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .officepage .officehero-title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .officepage .officehero-title {
    font-size: 72px;
  }
}
.officepage .office-hero-text {
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 768px) {
  .mason-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
  }
}

.mason-link-wrap {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.mason-decription {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: rgb(139, 134, 152);
  line-height: 1.5;
  margin-top: 10px;
}

.mason-title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) {
  .mason-title {
    font-size: 32px;
  }
}

.link-arrow {
  border-bottom: 1px solid #fdda4c;
  width: 100%;
  max-width: 100px;
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 15px;
  height: 18px;
  text-align: center;
}
.link-arrow:hover {
  border-bottom: 1px solid #000;
  width: 100%;
  max-width: 100px;
  transition: all 0.7s;
}

.setups {
  padding-top: 50px;
  padding-bottom: 50px;
}

.setup-img {
  margin-bottom: 15px;
}

.setup-img-title {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 1.3;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .setup-img-title {
    font-size: 23px;
  }
}
@media screen and (min-width: 1024px) {
  .setup-img-title {
    font-size: 26px;
  }
}

.setup-img-description {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: rgb(139, 134, 152);
  line-height: 1.5;
  margin-bottom: 30px;
}

.link {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  text-decoration-color: #fdda4c;
  color: rgb(38, 34, 47);
  font-weight: 600;
  align-items: center;
  gap: 10px;
}
.link:hover {
  text-decoration-color: #000;
  transition: all 0.9s;
}

.setup-sub-title {
  font-size: 13px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

.showcase-img-centered {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .setup-img-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px;
  }
}

.setup-img-column {
  margin-bottom: 32px;
}

.showcases {
  padding-top: 200px;
}
.showcases .showcase-header-title {
  font-size: 12px;
  font-family: "Lexend", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: rgb(38, 34, 47);
}
.showcases .showcase-header-second-title {
  text-align: center;
  font-size: 28px;
  font-family: "Lexend", sans-serif;
}
@media screen and (min-width: 768px) {
  .showcases .showcase-header-second-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .showcases .showcase-header-second-title {
    font-size: 40px;
  }
}
.showcases .showcase-border {
  position: relative;
  display: block;
  margin-top: 80px;
}
.showcases .showcase-border::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  width: 15%;
  height: 2px;
  top: -28px;
  left: 43%;
}

.releases {
  padding-top: 50px;
  padding-bottom: 50px;
}
.releases .release-header-title-wrapper {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .releases .release-header-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.releases .release-header-column {
  text-align: center;
  margin-bottom: 15px;
}
.releases .release-header-title {
  font-size: 25px;
  font-family: "Lexend", sans-serif;
}
.releases .release-header-link {
  border-bottom: 1px solid rgb(139, 134, 152);
  width: 100%;
  max-width: 92px;
  text-decoration: none;
  color: #000;
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  text-align: center;
}
.releases .release-header-link:hover {
  border-bottom: 1px solid #000;
  width: 100%;
  max-width: 92px;
  transition: all 0.7s;
}
.releases .release-image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .releases .release-image-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.releases .image-release-column {
  margin-bottom: 20px;
}
.releases .image-release-img {
  margin-bottom: 8px;
}
.releases .image-release-title {
  font-size: 14px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
}
.releases .image-release-price {
  margin-bottom: 8px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
  font-size: 13px;
}
.releases .release-icon {
  color: rgb(139, 134, 152);
  font-size: 12px;
}

.enhances {
  padding-top: 50px;
}
.enhances .enhance-header-wrapper {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .enhances .enhance-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.enhances .enhance-header-title {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}
.enhances .enhance-header-column {
  margin-bottom: 20px;
}
.enhances .enhance-border-empty {
  position: relative;
  display: block;
}
.enhances .enhance-border-empty::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  width: 15%;
  height: 1px;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .enhances .exprience-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.enhances .experience-title {
  font-size: 28px;
  font-family: "Lexend", sans-serif;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .enhances .experience-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .enhances .experience-title {
    font-size: 40px;
  }
}
.enhances .experience-text {
  font-size: 13px;
  color: rgb(139, 134, 152);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  padding-bottom: 30px;
}
.enhances .experience-link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #fdda4c;
  width: 100%;
  max-width: 92px;
  height: 18px;
}
.enhances .experience-link:hover {
  border-bottom: 1px solid #000;
  width: 100%;
  max-width: 92px;
  transition: all 0.7s;
}

.officepage3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/officehero3-img-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  min-height: 600px;
  position: relative;
  display: block;
}

.office-hero-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52%;
}

.officehero-title {
  text-align: center;
  color: #fff;
  font-family: "Lexend", sans-serif;
  font-size: 31px;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .officehero-title {
    font-size: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .officehero-title {
    font-size: 72px;
  }
}

.office-hero-text {
  text-align: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 60px;
}

@media screen and (min-width: 1024px) {
  .wfh-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }
}

.wfh-column {
  margin-bottom: 20px;
}

.office3-showcase-bg-color {
  background-color: rgb(248, 248, 248);
  padding: 25px;
}

.workflows {
  padding-top: 60px;
  padding-bottom: 60px;
}

.work-hero-border {
  position: relative;
  display: block;
}
.work-hero-border::after {
  content: "";
  position: absolute;
  background-color: #fdda4c;
  width: 19%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .workflow-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 57px;
  }
}

.workflow-column {
  margin-bottom: 20px;
}

.workflow-header-title {
  font-size: 13px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.workflow-sub-header-title {
  font-size: 32px;
  font-family: "Lexend", sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .workflow-sub-header-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .workflow-sub-header-title {
    font-size: 40px;
  }
}

.workflow-text {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: rgb(139, 134, 152);
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}/*# sourceMappingURL=style.css.map */