.about{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/images/about-hero-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 300px;

    .hero-banner-main-wrapper {
      position: absolute;
      top: 65%;
      left: 46%;
      transform: translate(-50%, -50%);
      
    }

    .hero-banner-title-wrapper {
      margin-bottom: 25px;

      @media screen and(min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: baseline;
      }
    }


    .hero-banner-title {
        font-size: 36px;
        color: #fff;
        font-family: $fontFamily;
        margin-bottom: 3px;

        @media screen and(min-width: 768px) {
            font-size: 56px;
        }
        @media screen and(min-width: 1024px) {
            font-size: 53px;
        }
      }

  .about-description{
        color: #fff;
        font-family: $fontFamily2;
        font-size: 14px;
      }

    .hero-banner-border{
      position: relative;
      display: block;

      &::after{
        content: "";
        position: absolute;
        background-color: #fdda4c;
        top: 13px;
        left: 0;
        width: 30%;
        height: 1px;
        min-width: 87px;
      }
    }

      .hero-banner-text-wrapper {
        @media screen and(min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: baseline;
          
        }
      }
}
