.footer {
    // width: 100%;
    background-color: rgb(236, 229, 229);

    &-column-wrap{
        text-align: center;
        padding: 22px;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: baseline;
        }
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            
        }
    }

    &-column {
        padding-bottom: 50px;
      }

      &-column-title {
        font-size: 23px;
        color: rgb(38, 34, 47);
        font-family: $fontFamily;
        margin-bottom: 20px;
      }

    &-link {
        text-decoration: none;
        color: rgb(139, 134, 152);
        font-size: 14px;
        font-family: $fontFamily2;
        line-height: 1.4;

        &:hover{
            color: #000;
            transition: all 0.5s;
        }
        
      }
      &-copyright {
        text-align: center;
        color: $textColor;
        font-size: 14px;
        font-family: $fontFamily2;

      }

      &-list-icon-column{
        @media screen and (min-width: 768px) {
            display: flex;
        }
      }

  }

