.nav{
    padding-bottom: 40px;
    position: relative;
    display: block;
    padding-top: 16px;

    &::after{
        content: '';
        position: absolute;
        background: rgba(173, 170, 170, 0.15);
        width: 100%;
        height: 1px;
        top: 70px;
        left: 0;
    }

    &--list {
        display: none;
        @media screen  and(min-width: 1024px){
            display: flex;
            gap: 15px;
        }
    }

    &--link {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-family: $fontFamily2;
    }

    &-logo-image {
        width: 100%;
        height: 31px;
      }
    &-menu{
        @media screen and (min-width: 1024px) {
            display: none;
        }
      }

      .cart-menu{
        @media screen and (max-width: 768px) {
            display: none;
        }
      }
}




