.officepage{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/images/officepagefurniture-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: 350px;


    .office-hero-wrapper {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        padding-top: 40px
        ;
      }
    
    
    .officehero-title {
        color: #fff;
        font-size: 27px;
        text-align: center;
        font-family: $fontFamily;
        margin-bottom: 40px;
       

      
    
        @media screen and (min-width: 768px) {
            font-size: 56px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 72px;
        }
        
      }
    
      .office-hero-text {
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 1.3;
        font-family: $fontFamily2;
      }
    
     

}


