@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');
@import '_variables.scss';
@import '_reset.scss';
@import '_nav.scss';
@import '_hero.scss';
@import '_chair.scss';
@import '_footer.scss';
@import '_appliance.scss';
@import '_arrival.scss';
@import '_service.scss';
@import '_collection.scss';
@import '_office.scss';
@import '_work.scss';
@import '_space.scss';
@import '_about-hero.scss';
@import '_story.scss';
@import '_perfect.scss';
@import '_founder.scss';
@import '_imglist.scss';
@import '_contact.scss';
@import '_store.scss';



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }



























































































